name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: adabana-saki
          outputs: |
            github-contribution-grid-snake.svg
            github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Commit and Push to master
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add *.svg
          git diff --quiet && git diff --staged --quiet || git commit -m "Update snake animations"
          git push
